* {
    background-image: none;
}

window {
    background-color: rgba(0, 0, 0, 0.4);
}

button {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: #FFFFFF;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 64px;
    padding-top: 100px;
}

button:hover, button:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#shutdown { background-image: url("/home/kean/.config/wlogout/icons/shutdown.svg"); }
#reboot   { background-image: url("/home/kean/.config/wlogout/icons/reboot.svg"); }
#sleep    { background-image: url("/home/kean/.config/wlogout/icons/sleep.svg"); }
#bios     { background-image: url("/home/kean/.config/wlogout/icons/bios.svg"); }
