window {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    /* Neutral semi-transparent white */
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin: 20px;
    background-origin: content-box;
    background-clip: content-box;
}

/* Re-apply the images */
#lock { background-image: url("/usr/share/wlogout/icons/lock.png"); }
#logout { background-image: url("/usr/share/wlogout/icons/logout.png"); }
#suspend { background-image: url("/usr/share/wlogout/icons/suspend.png"); }
#bios { background-image: url("/usr/share/wlogout/icons/reboot.png"); }
#shutdown { background-image: url("/usr/share/wlogout/icons/shutdown.png"); }
#reboot { background-image: url("/usr/share/wlogout/icons/reboot.png"); }

button:focus, button:hover {
    /* Using a pure neutral grey to ensure no purple tint */
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}
